# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

# Unignore special extensionless files
!*README
!*LICENSE

*.DS_Store
*.exe
*.app
*.bmx.bak
*.bmx/*
*.x86.o
*.x86.s
*.x86.i
*.x86.a
*_inprogress/*
*/test.bmx